target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
/.mvn/wrapper/
/mvnw
/mvnw.cmd
/spring-shell.log

*.service
README.md
build-info
logs/
