[Unit]
Description=yatt be

[Service]
WorkingDirectory=/home/juka/yatt
ExecStart=/usr/bin/java -Dspring.datasource.url=jdbc:postgresql://localhost:5433/yatt  -jar yatt-1-SNAPSHOT.jar
User=root
Type=simple
Restart=no
RestartSec=10

[Install]
WantedBy=multi-user.target
